// @font-face {
//   font-family: 'Glyphicons Halflings';
//   src: url('assets/fonts/glyphicons-halflings-regular.eot');
//   src: url('assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/glyphicons-halflings-regular.woff') format('woff'), url('assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
// }
//
// .glyphicon {
//   position: relative;
//   top: 1px;
//   display: inline-block;
//   font-family: 'Glyphicons Halflings';
//   -webkit-font-smoothing: antialiased;
//   font-style: normal;
//   font-weight: normal;
//   line-height: 1;
//   -moz-osx-font-smoothing: grayscale;
// }

@font-face
    font-family 'KonsensBold'
    src url('../fonts/KonsensBold.eot')
    src url('../fonts/KonsensBold.eot?#iefix') format('embedded-opentype'),
 url('../fonts/KonsensBold.woff') format('woff'),
		url('../fonts/KonsensBold.ttf') format('truetype')
    font-weight bold
    font-style normal

@font-face
    font-family 'KonsensSemibold'
    src url('../fonts/KonsensSemibold.eot')
    src url('../fonts/KonsensSemibold.eot?#iefix') format('embedded-opentype'),
 url('../fonts/KonsensSemibold.woff') format('woff'),
		url('../fonts/KonsensSemibold.ttf') format('truetype')
    font-weight 600
    font-style normal

@font-face
    font-family 'KonsensLight'
    src url('../fonts/KonsensLight.eot')
    src url('../fonts/KonsensLight.eot?#iefix') format('embedded-opentype'),
 url('../fonts/KonsensLight.woff') format('woff'),
		url('../fonts/KonsensLight.ttf') format('truetype')
    font-weight 300
    font-style normal

@font-face
    font-family 'KonsensRegular'
    src url('../fonts/KonsensRegular.eot')
    src url('../fonts/KonsensRegular.eot?#iefix') format('embedded-opentype'),
 url('../fonts/KonsensRegular.woff') format('woff'),
		url('../fonts/KonsensRegular.ttf') format('truetype')
    font-weight normal
    font-style normal
