//
// modal
//

.modal-content
  box-shadow none

.modal--banner .modal-header .close
.modal--video .modal-header .close
  background-image url("../img/img-close.png")
  background-repeat no-repeat
  background-position center center
  width 101px
  height 30px
  opacity 1
  position absolute
  z-index 100
  margin 20px 30px 0
  span
    display none

.modal--video .modal-header .close
  position relative
  margin 10px 0px
